@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 						        'tabs';
$m-tabs-border-width:                       1px;
$m-tabs-border-color:                       $grayC;

// Selectbox tabs https://codepen.io/brianjwong/pen/dpfne


/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
    margin-bottom: -1px;

    // Navigation container
    &__nav {
        margin-top: 0;
        margin-bottom: $margin-medium;
        border-bottom: $m-tabs-border-width solid $m-tabs-border-color;

        ul {
            padding: 0;
            margin: 0;
            display: none;

            @include respond-to-min(md) {
                display: block;
            }
        }

        &__selectbox {

            &__container {
                @include respond-to-min(md) {
                    display: none;
                }
            }
        }
    }

    &__item {
        color: $gray6;
        line-height: 20px;
        border-bottom: transparent;
        padding: 0.5em 0.75em;
        margin-bottom: -1px;
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        border: $m-tabs-border-width solid transparent;

        &--selected {
            color: $gray3;
            background-color: $grayC;
            border-color: #ddd;
            border-radius: 3px 3px 0 0;
        }
    }

    // Content container
    &__content {

    }

    &__pane {
        display: none;

        &--active {
            display: block;
        }
    }
}
