@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$body-bg: $white;
$wrapper-bg: $grayE;
$content-bg: $white;
$sidebar-bg: none;
$footer-bg: $gray3;

$header-bg: $blue;
$header-height: 60px;

/* =============================================================================
  BASE
============================================================================= */

body {
	background: $body-bg;
}

#l-skip-to-main {
	display: block;
	padding: 1em;
	color: #fff;
	background-color: $blue;
	outline: 0;

	.l-skiplink-text {
		padding: 0.5em;
		outline: 1px dotted;
	}
}

#l-wrapper {
	background: $wrapper-bg;
	@include clearfix();
}

#l-header {
	height: $header-height;
	background: $header-bg;
	@include clearfix();
}

#l-content {
	background: $content-bg;
}

#l-sidebar {
	background: $sidebar-bg;
}

#l-footer {
	background: $footer-bg;
	@include clearfix();
}
