@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$object-name: 'divider';

$border-width: 1px;
$border-color: map-get($colors, grayD8);

/* =============================================================================
BASE
============================================================================= */

.o-#{$object-name} {
    border-bottom: $border-width solid $border-color;
}
