{
  "extends": "stylelint-config-standard",
  "rules": {
    "number-leading-zero": null,
	"declaration-colon-space-after": "always",
	"comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "between-comments"],
    } ],
	"declaration-block-no-duplicate-properties": true,
	"max-empty-lines": 2,
	"at-rule-empty-line-before": "never",
	"block-closing-brace-newline-before": "always-multi-line",
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]
    }],
    "unit-whitelist": ["em", "rem", "s", "px", "%", "ms"]
  }
}
