@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

/* =============================================================================
  BASE
============================================================================= */

@each $name, $value in $colors {
	.txt--#{$name} {
		color: $value;
	}

	.bg--#{$name} {
		background-color: $value;
	}

	.bdr--#{$name} {
		border-color: $value !important;
	}
}
