@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 								'modal';
$m-modal-zindex:							1050;
$m-modal-zindex-backdrop:					1040;
$m-modal-dialog-width:						600px;
$m-modal-content-bg:						$white;
$m-modal-content-border:					1px solid $gray9;
$m-modal-content-shadow:					rgba(0,0,0,.5);
$m-modal-backdrop-bg:						rgba(0,0,0,0.3);
$m-modal-backdrop-opacity: 					.5;



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $m-modal-zindex;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
  	transform: translate(0, -800px);
  	transition: .5s ease-in-out;

	&.is__open{
	  transform: translate(0, 0);
	}

	// Class added on the body
	&--open {
		overflow: hidden;

		.m-modal {
			overflow-x: hidden;
		    overflow-y: auto;
		}
	}

	// Shell div to position the modal with bottom padding
	&__dialog {
		position: relative;
		width: auto;
		margin: $margin-small;

		@include respond-to-min(sm) {
			width: $m-modal-dialog-width;
			margin: $margin-large auto;
		}
	}


	// Actual modal
	&__content {
		position: relative;
	    background-color: $m-modal-content-bg;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: $m-modal-content-border;
	    border-radius: 6px;
	    outline: 0;
	    -webkit-box-shadow: 0 3px 9px $m-modal-content-shadow;
	    box-shadow: 0 3px 9px $m-modal-content-shadow;

		@include respond-to-min(sm) {
		    -webkit-box-shadow: 0 5px 15px $m-modal-content-shadow;
		    box-shadow: 0 5px 15px $m-modal-content-shadow;
		}
	}

	// Modal background
	&__backdrop {
		position: fixed;
	  	top:    0;
	  	right:  0;
		bottom: 0;
		left:   0;
		z-index: $m-modal-zindex-backdrop;
		background-color: $m-modal-backdrop-bg;

	  // Fade for backdrop
	  &.fade { @include opacity(0); }
	  &.in { @include opacity($m-modal-backdrop-opacity); }
	}
}


/* =============================================================================
  STATES
============================================================================= */

.fade {
	opacity: 0;
	@include transition(opacity, .15s, linear);
}

.fade.in {
    opacity: 1;
}
