@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */



/* =============================================================================
  BASE
============================================================================= */

:root {
	font-size: $baseSize +px;
}


/* =============================================================================
  BOX SIZING
============================================================================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* =============================================================================
  HTML & BODY
============================================================================= */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: $white;
	@include font-size(16);
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =============================================================================
  HEADINGS
============================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
	// color: $color--neutral-dark;
	// font-weight: 700;
	// line-height: $line-height--small;
}

/* =============================================================================
  LINKS
============================================================================= */

a {
	// color: $color--theme;
	text-decoration: none;
	outline: 0;
	@include transition(color, 200ms, ease);

	&:hover {

	}

	&:visited {

	}
}



/* =============================================================================
  TEXT STUFFS
============================================================================= */

b,
strong {
	font-weight: 700;
}

i,
em {
  font-style: italic;
}

/* =============================================================================
  EMBEDDED CONTENT
============================================================================= */

img {
	max-width: 100%;
	height: auto;
}
