@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

/* =============================================================================
  BASE
============================================================================= */

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.clearfix {
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
