header {
    background: #00aced;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

header a {
    color: #fff;
    font-size: 1.5rem;
}

h2.section__title {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

a {
    color: #4078c0;
    text-decoration: none;
}

#docs-menu {
    position: fixed;
    width: 350px;
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    font-size: 14px;
}

#docs-menu .menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #eee;
}

#docs-menu .menu-item:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}

#docs-menu .menu-item:first-child {
    border-top: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#docs-menu .menu-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

@media (min-width: 34em) {
    #docs-menu {
        margin-right: 1rem;
    }
}


section {
    position: relative;
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    border: 1px solid #e5e5e5;
    margin-bottom: 16px;
    border-radius: .25rem .25rem 0 0;
}
section+.highlight {
    margin-top: -1px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 .25rem .25rem;
}




/* GRID STYLE */

.l-grid__item {
    background: rgba(0,0,0,0.1);
    border: 1px solid #333;
}
