@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 'logo';
$logo-textual: 'true';
$logo-width: 200px;
$logo-height: 30px;
$logo-img-url: '../img/nestegg-logo.png';
$logo-img-width--mobile: 108px;
$logo-img-height--mobile: 18px;
$logo-img-width: 168px;
$logo-img-height: 28px;

$logo-text-color: map-get($colors, white);
$logo-text-hover-color: map-get($colors, black);
$logo-text-weight: bold;
$logo-text-size: 24;

/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	width: $logo-width;
	height: $logo-height;
}

@if $logo-textual == 'true' {
	.o-#{$object-name}--text {
		line-height: 60px;
		color: $logo-text-color;
		font-weight: $logo-text-weight;
		@include rem($logo-text-size);

		&:hover {
			color: $logo-text-hover-color;
		}
	}
}

@if $logo-textual == false {
	.o-#{$object-name}--img {
		background-image: url($logo-img-url);
		background-repeat: no-repeat;
		background-size: $logo-img-width--mobile $logo-img-height--mobile;
		width: $logo-img-width;
		height: $logo-img-height--mobile;
		display: block;

		position: relative;
		left: 30px;
		top: 15px;

		@media (min-width: breakpoint-min(lg)) {
			height: $logo-img-height;
			background-size: $logo-img-width $logo-img-height;
		}
	}
}
