@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$input-field-radius:					3px;
$input-field-background:				$white;
$input-field-border-color:				$white;
$input-field-color:						$black;

/* =============================================================================
  BASE
============================================================================= */

.input-field {
	display: block;
    width: 100%;
    height: 36px;
    padding: 0.5em 0.75em;
    line-height: 1.4;
    color: $input-field-color;
    background-color: $input-field-background;
    background-image: none;
    border: 1px solid #ccc;
	@include font-size(14);
    @include border-radius($input-field-radius);
    @include transition: (border-color .15s ease-in-out);
}
