@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */


/* =============================================================================
BASE
============================================================================= */



/* =============================================================================
MIXIN: CALCULATE FONTSIZE (PX & REM) BASED ON BASESIZE
USEAGE: @include font-size(32);
============================================================================= */

@mixin font-size ($fontsize: $baseSize) {
	font-size: $fontsize + px;
	font-size: $fontsize / $baseSize + rem;
}


/* =============================================================================
MIXIN: VERTICAL ALIGN ANYTHING
USEAGE: @include vertical-align();
============================================================================= */

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* =============================================================================
MIXIN: RESET
USEAGE: @include reset();
============================================================================= */

@mixin reset {
  margin: 0;
  padding: 0;
}


/* =============================================================================
MIXIN: CROSSBROWSER OPACITY TO IE5
USEAGE: @include opacity(0.8);
============================================================================= */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/* =============================================================================
MIXIN: TRANSITION ANIMATION
USEAGE: @include transition(color 200ms ease-in-out);
============================================================================= */

@mixin transition($property, $timing, $ease) {
  transition: $property $timing ease;
  -webkit-transition: $property $timing ease;
  -moz-transition: $property $timing ease;
  -o-transition: $property $timing ease;
}


/* =============================================================================
MIXIN: BORDER RADIUS
USEAGE: @include border-radius(15px);
============================================================================= */

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}
