@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$baseSize:		16;

/* =============================================================================
  BASE
============================================================================= */


/* =============================================================================
  FONTS
============================================================================= */


/* =============================================================================
  COLORS
============================================================================= */

$white: 		#FFFFFF;
$black: 		#000000;
