@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$baseSize:		16;

/* =============================================================================
  BASE
============================================================================= */


/* =============================================================================
  FONTS
============================================================================= */


/* =============================================================================
  COLORS
============================================================================= */

$white: 		#fff;
$black: 		#000;
