@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$baseSize:		16;

/* =============================================================================
  BASE
============================================================================= */


/* =============================================================================
  FONTS
============================================================================= */


/* =============================================================================
  COLORS
============================================================================= */

$white: 		#fff;
$black: 		#000;
$gray1:         #111;
$gray2:         #222;
$gray3:         #333;
$gray4:         #444;
$gray5:         #555;
$gray6:         #666;
$gray7:         #777;
$gray8:         #888;
$gray9:         #999;

$grayC:         #ccc;

/* =============================================================================
  PADDINGS
============================================================================= */

$padding-xsmall:    5px;
$padding-small:     10px;
$padding-medium:    15px;
$padding-large:     30px;
$padding-xlarge:    50px;


/* =============================================================================
  MARGINS
============================================================================= */

$margin-xsmall:    5px;
$margin-small:     10px;
$margin-medium:    15px;
$margin-large:     30px;
$margin-xlarge:    50px;
