<div class="m-slider js--m-slider no--print" data-autoslide="true" data-navigation="false" data-dots="true">
	<div class="m-slider__wrapper img-h--full">
		<ul class="o-list--reset m-slider__container">
			<li class="m-slider__item img-h--full" data-id="1" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">

				<div class="l-container">
					<div class="l-row">
						<div class="col-12">

							<div class="m-slider__content img-h--full">

								<div class="m-slider__block p-large-b">
									<div class="o-label m-slider__block__label bg--blue">thema</div>
									<div class="h2 m-slider__block__title">Rik</div>
									<p class="m-reset-b">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
									<a href="#" class="o-btn bg--orange m-small-t">Bekijk thema
										<i class="m-slider__block__icon fas fa-chevron-right"></i>
									</a>
								</div>

							</div>

						</div>
					</div>
				</div>

			</li>
			<li class="m-slider__item img-h--full" data-id="2" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">

				<div class="l-container">
					<div class="l-row">
						<div class="col-12">

							<div class="m-slider__content img-h--full">

								<div class="m-slider__block p-large-b">
									<div class="o-label m-slider__block__label bg--blue">thema</div>
									<div class="h2 m-slider__block__title">Rik</div>
									<p class="m-reset-b">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
									<a href="#" class="o-btn bg--orange m-small-t">Bekijk thema
										<i class="m-slider__block__icon fas fa-chevron-right"></i>
									</a>
								</div>

							</div>

						</div>
					</div>
				</div>

			</li>
			<li class="m-slider__item img-h--full" data-id="3" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">

				<div class="l-container">
					<div class="l-row">
						<div class="col-12">

							<div class="m-slider__content img-h--full">

								<div class="m-slider__block p-large-b">
									<div class="o-label m-slider__block__label bg--blue">thema</div>
									<div class="h2 m-slider__block__title">Rik</div>
									<p class="m-reset-b">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
									<a href="#" class="o-btn bg--orange m-small-t">Bekijk thema
										<i class="m-slider__block__icon fas fa-chevron-right"></i>
									</a>
								</div>

							</div>

						</div>
					</div>
				</div>

			</li>
		</ul>
		<div class="l-container m-slider__dots-wrapper">
			<div class="l-row">
				<div class="col-12">
					<ul class="m-slider__dots">

					</ul>
				</div>
			</div>
		</div>
	</div>


</div>
