<div class="m-slider m-slider--small js--m-slider no--print" data-autoslide="false" data-navigation="true" data-dots="false">
	<div class="m-slider__wrapper">

		<ul class="o-list--reset m-slider__container">
			<li class="m-slider__item" data-id="1" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">

				<div class="l-container">
					<div class="l-row">
						<div class="col-12">
							<div class="m-slider__content">

							</div>
						</div>
					</div>
				</div>

			</li>
			<li class="m-slider__item" data-id="2" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">
				<div class="l-container">
					<div class="l-row">
						<div class="col-12">
							<div class="m-slider__content">

							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="m-slider__item" data-id="3" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">
				<div class="l-container">
					<div class="l-row">
						<div class="col-12">
							<div class="m-slider__content">

							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="m-slider__item" data-id="4" style="background-image: url('../img/test-img-1600.jpg'); background-size: cover; background-position: center;">
				<div class="l-container">
					<div class="l-row">
						<div class="col-12">
							<div class="m-slider__content">

							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="l-container m-slider__dots-wrapper">
			<div class="l-row">
				<div class="col-12">
					<ul class="m-slider__dots">

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="m-slider__nav">
		<div class="o-btn--rounded txt--white btn--next">
			<i class="fas fa-chevron-right"></i>
		</div>
		<div class="o-btn--rounded txt--white btn--prev">
			<i class="fas fa-chevron-left"></i>
		</div>
	</div>
</div>
