@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$object-name: 'form';
$form-fieldgroup-spacing: 1.5rem 0;

/* =============================================================================
BASE
============================================================================= */

.o-#{$object-name} {
    &__fieldgroup {
        margin: $form-fieldgroup-spacing;
    }
}
