@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 'table';
$table-border-color: map-get($colors, grayD);
$table-head-border-width: 2px;
$table-row-border-width: 1px;
$table-striped-background-color: map-get($colors, grayE);
$table-hover-background-color: map-get($colors, grayE);

/* =============================================================================
  BASE
============================================================================= */

table {
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: $content-spacing;
}

th {
	text-align: left;
}

caption {
	@include caption();
}

.o-#{$object-name} {
	width: 100%;
	max-width: 100%;
	margin-bottom: $content-spacing;

	> thead {
		> tr {
			> th {
				vertical-align: bottom;
				border-bottom: $table-head-border-width solid
					$table-border-color;
			}
		}
	}

	> tbody > tr > td,
	> tbody > tr > th,
	> tfoot > tr > td,
	> tfoot > tr > th,
	> thead > tr > td,
	> thead > tr > th {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: $table-row-border-width solid $table-border-color;
	}

	> caption + thead > tr:first-child > td,
	> caption + thead > tr:first-child > th,
	> colgroup + thead > tr:first-child > td,
	> colgroup + thead > tr:first-child > th,
	> thead:first-child > tr:first-child > td,
	> thead:first-child > tr:first-child > th {
		border-top: 0;
	}

	&.o-table--striped {
		> tbody > tr:nth-of-type(odd) {
			background-color: $table-striped-background-color;
		}
	}

	&.o-table--bordered {
		border: $table-row-border-width solid $table-border-color;

		tr th,
		tr td {
			border: $table-row-border-width solid $table-border-color;
		}

		tr th {
			border-bottom-width: 2px;
		}
	}

	&.o-table--hover {
		tbody > tr:hover {
			background-color: $table-hover-background-color;
		}
	}

	&__responsive-wrapper {
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		min-height: 0.01%;
	}
}
