@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 'navigation';

$navigation-bg: transparent;
$navigation-height: 60px;
$navigation-ul-align: right;

$navigation-item-bg: transparent;
$navigation-item-txt: $white;
$navigation-item-active-bg: darken($blue, 10%);
$navigation-item-active-txt: $white;
$navigation-item-padding: 0.5em 1em;
$navigation-item-hover-bg: transparent;
$navigation-item-hover-txt: $black;

$navigation-submenu-bg: $blue;
$navigation-submenu-item-txt: $white;
$navigation-submenu-item-hover-bg: darken($blue, 10%);
$navigation-submenu-item-hover-txt: $white;
$navigation-submenu-item-padding: 0.5em 1em;

$navigation-mobile-background: rgba(0, 0, 0, 0.9);

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	flex-grow: 1;
	background: $navigation-bg;

	&__container {
		display: none;

		@media (min-width: breakpoint-min(lg)) {
			display: block;
		}
	}

	ul {
		float: $navigation-ul-align;
		list-style: none;
		@include reset();

		li {
			float: left;
			position: relative;
			background: $navigation-item-bg;

			.fa-caret-down {
				@include transition(transform, ease, 0.3s);
			}

			// Hover on li menu item
			&:hover {
				background: $navigation-item-hover-bg;

				> a {
					color: $navigation-item-hover-txt;
				}
			}

			&.is--active {
				background: $navigation-item-active-bg;
				color: $navigation-item-active-txt;

				.fa-caret-down {
					transform: rotate(180deg);
					@include transition(all, ease, 0.3s);
				}

				> .m-#{$module-name}__submenu {
					display: block;
				}
			}

			.js-is-hidden {
				> .m-#{$module-name}__submenu {
					display: none;
				}
			}

			a {
				height: $navigation-height;
				padding: $navigation-item-padding;
				color: $navigation-item-txt;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

// Submenu
.m-#{$module-name}__submenu {
	display: none;
	top: $navigation-height;
	position: absolute;
	z-index: 9999;
	background: $navigation-submenu-bg;

	li {
		width: 100%;

		&:hover {
			background: $navigation-submenu-item-hover-bg;

			a {
				color: $navigation-submenu-item-hover-txt;
			}
		}

		a {
			width: 100%;
			height: auto;
			display: inline-block;
			padding: $navigation-submenu-item-padding;
			color: $navigation-submenu-item-txt;
		}
	}
}

// Mobile toggle button
.m-#{$module-name}__toggle {
	background: none;
	border: none;
	color: $navigation-item-txt;
	align-self: flex-start;
	line-height: $navigation-height;
	@include rem(24);
}

// Mobile menu is collapsed
.m-#{$module-name}.is--open {
	.m-#{$module-name}__container {
		float: none;
		display: block;
		position: fixed;
		top: $navigation-height;
		left: 0;
		right: 0;
		width: 100vw;
		height: calc(100vh - #{$navigation-height});
		background: $navigation-mobile-background;

		li {
			display: block;
			width: 100%;

			ul {
				position: relative;
				float: none;
				top: 0;
			}
		}
	}
}
