@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$checkbox-border-color: 			$grayC;
$checkbox-border-width: 			1px;
$checkbox-radius:					3px;
$checkmark-color:                   $succes-green;
$checkmark-bg-color:                $succes-green;

/* =============================================================================
BASE
============================================================================= */
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

.o-checkbox {

    // Fieldset container
    &__container {

    }

    &__label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 18px;

        &:hover input ~ .o-checkbox__indicator,
        input:focus ~ .o-checkbox__indicator {
            background: #ccc;
        }

        input:checked ~ .o-checkbox__indicator {
          background: #2aa1c0;
        }

        &:hover input:not([disabled]):checked ~ .o-checkbox__indicator,
        input:checked:focus ~ .o-checkbox__indicator {
          background: #0e647d;
        }

        input:disabled ~ .o-checkbox__indicator {
          background: #e6e6e6;
          opacity: 0.6;
          pointer-events: none;
        }

        input:checked ~ .o-checkbox__indicator:after {
          display: block;
        }

        .o-checkbox__indicator:after {
          left: 8px;
          top: 4px;
          width: 3px;
          height: 8px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }

        input:disabled ~ .o-checkbox__indicator:after {
          border-color: #7b7b7b;
        }
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;

        &:after {
          content: '';
          position: absolute;
          display: none;
        }
    }


}
