/* =============================================================================
  FILE PATHS
============================================================================= */

$file-path-images   : '../img/';
$file-path-fonts    : '../fonts/';
$file-path-svgs     : '../svg/';
