/* =============================================================================
  MARGINS
============================================================================= */

$margin-xsmall: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 3rem;
$margin-xlarge: 5rem;
