/* =============================================================================
  PADDINGS
============================================================================= */

$padding-xsmall: 0.5rem;
$padding-small: 1rem;
$padding-medium: 1.5rem;
$padding-large: 3rem;
$padding-xlarge: 5rem;
