$icons: (
      sprite: (width: 2550px, height: 2550px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
    checkmark: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: 0px),
    chevron-down: (width: 500px, height: 500px, backgroundX: -510px, backgroundY: -510px),
    chevron-left: (width: 500px, height: 500px, backgroundX: -1020px, backgroundY: -1020px),
    chevron-right: (width: 500px, height: 500px, backgroundX: -1530px, backgroundY: -1530px),
    chevron-up: (width: 500px, height: 500px, backgroundX: -2040px, backgroundY: -2040px),
);