@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'logo';
$logo-width:					200px;
$logo-height: 					30px;

$logo-text-color:				$white;
$logo-text-hover-color:			$black;
$logo-text-weight:				bold;
$logo-text-size:				24px;

/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	width: $logo-width;
	height: $logo-height;


	&--text {
		line-height: 60px;
		color: $logo-text-color;
		font-weight: $logo-text-weight;
		@include rem($logo-text-size);

		&:hover {
			color: $logo-text-hover-color;
		}
	}
}
