@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 'navigation';

$navigation-animation: 'true';
$navigation-bg: transparent;
$navigation-height: 60px;
$navigation-ul-align: none;

$navigation-item-bg: transparent;
$navigation-item-txt: map-get($colors, white);
$navigation-item-active-bg: darken(map-get($colors, blue), 10%);
$navigation-item-active-txt: map-get($colors, black);

$navigation-active-has-border: 'false';
$navigation-item-border: 5px solid transparent;
$navigation-item-active-border: 5px solid map-get($colors, blue);

$navigation-item-font-size: 18;
$navigation-item-padding: 0.5rem 1rem;
$navigation-item-hover-bg: darken(map-get($colors, blue), 10%);
$navigation-item-hover-txt: map-get($colors, white);

$navigation-submenu-bg: map-get($colors, blue);
$navigation-submenu-item-txt: map-get($colors, white);
$navigation-submenu-item-font-weight: 500;
$navigation-submenu-item-font-family: $font-family--primary;
$navigation-submenu-item-hover-bg: darken(map-get($colors, blue), 10%);
$navigation-submenu-item-hover-txt: map-get($colors, white);
$navigation-submenu-item-padding: 0.5em 1em;

$navigation-mobile-background: rgba(0, 0, 0, 0.9);

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	background: $navigation-bg;
	height: $navigation-height;

	&__container {
		display: none;

		@media (min-width: breakpoint-min(lg)) {
			display: block;
		}
	}

	ul {
		float: $navigation-ul-align;
		list-style: none;
		@include reset();

		li {
			float: left;
			position: relative;
			background: $navigation-item-bg;

			@if $navigation-active-has-border == 'true' {
				border-bottom: $navigation-item-border;
			}

			.fa-chevron-down {
				@include transition(transform, ease, 0.3s);
			}

			// Hover on li menu item
			@if $navigation-animation != 'true' {
				&:hover {
					background: $navigation-item-hover-bg;

					> a {
						color: $navigation-item-hover-txt;
					}
				}
			}

			&.is--active {
				background: $navigation-item-active-bg;
				color: $navigation-item-active-txt;

				@if $navigation-active-has-border == 'true' {
					border-bottom: $navigation-item-active-border;
				}

				.fa-chevron-down {
					transform: rotate(180deg);
					@include transition(all, ease, 0.3s);
				}

				> .m-#{$module-name}__submenu {
					display: block;
				}
			}

			.js-is-hidden {
				> .m-#{$module-name}__submenu {
					display: none;
				}
			}

			a {
				height: $navigation-height;
				padding: $navigation-item-padding;
				color: $navigation-item-txt;
				font-weight: $navigation-submenu-item-font-weight;
				font-family: $navigation-submenu-item-font-family;
				display: table-cell;
				vertical-align: middle;
				@include rem($navigation-item-font-size);
			}

			a,
			a:after,
			a:before {
				transition: all 0.5s;
			}
		}
	}
}

// Submenu
.m-#{$module-name}__submenu {
	display: none;
	top: $navigation-height;
	position: absolute;
	z-index: 9999;
	background: $navigation-submenu-bg;

	li {
		width: 100%;

		&:hover {
			background: $navigation-submenu-item-hover-bg;

			a {
				color: $navigation-submenu-item-hover-txt;
			}
		}

		a {
			width: 100%;
			height: auto;
			display: inline-block;
			padding: $navigation-submenu-item-padding;
			color: $navigation-submenu-item-txt;
		}
	}
}

// Mobile toggle button
.m-#{$module-name}__toggle {
	background: none;
	border: none;
	color: $navigation-item-txt;
	align-self: flex-start;
	line-height: $navigation-height;
	@include rem(24);
}

// Mobile menu is collapsed
.m-#{$module-name}.is--open {
	.m-#{$module-name}__container {
		float: none;
		display: block;
		position: fixed;
		top: $navigation-height;
		left: 0;
		right: 0;
		width: 100vw;
		height: calc(100vh - #{$navigation-height});
		background: $navigation-mobile-background;

		li {
			display: block;
			width: 100%;

			ul {
				position: relative;
				float: none;
				top: 0;
			}
		}
	}
}

/* =============================================================================
  ANIMATIONS
============================================================================= */
// https://codepen.io/maheshambure21/pen/QwXaRw
$animation-type-shift: 'false';
$animation-type-stroke: 'false';
$animation-type-fill: 'true';
$animation-type-circle: 'false';

@if $animation-type-shift == 'true' {
	.m-#{$module-name}.a-shift {
		ul li a {
			position: relative;
			z-index: 1;

			&:hover {
				color: $navigation-item-hover-txt;
			}

			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				width: 100%;
				height: 1px;
				content: '.';
				color: transparent;
				background: $navigation-item-hover-bg;
				visibility: none;
				opacity: 0;
				z-index: -1;
			}

			&:hover:after {
				opacity: 1;
				visibility: visible;
				height: 100%;
			}
		}
	}
}

@if $animation-type-stroke == 'true' {
	.m-#{$module-name}.a-stroke {
		ul li a {
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '.';
				color: transparent;
				background: white;
				height: 1px;
			}

			&:hover:after {
				width: 100%;
			}
		}
	}
}

@if $animation-type-fill == 'true' {
	.m-#{$module-name}.a-fill {
		ul li a {
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '.';
				color: transparent;
				background: $navigation-item-hover-bg;
				height: 1px;
			}
			transition: all 2s;

			&:after {
				text-align: left;
				content: '.';
				margin: 0;
				opacity: 0;
			}

			&:hover {
				color: $navigation-item-txt;
				z-index: 1;
			}

			&:hover:after {
				z-index: -10;
				animation: fill 1s forwards;
				-webkit-animation: fill 1s forwards;
				-moz-animation: fill 1s forwards;
				opacity: 1;
			}
		}
	}

	@-webkit-keyframes fill {
		0% {
			width: 0%;
			height: 1px;
		}
		50% {
			width: 100%;
			height: 1px;
		}
		100% {
			width: 100%;
			height: 100%;
			background: $navigation-item-hover-bg;
		}
	}
}

@if $animation-type-circle == 'true' {
	.m-#{$module-name}.a-circle {
		ul li a {
			position: relative;
			overflow: hidden;
			z-index: 1;

			&:after {
				display: block;
				position: absolute;
				margin: 0;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: '.';
				color: transparent;
				width: 1px;
				height: 1px;
				border-radius: 50%;
				background: transparent;
			}

			&:hover:after {
				-webkit-animation: circle 1.5s ease-in forwards;
			}
		}

		@-webkit-keyframes circle {
			0% {
				width: 1px;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				height: 1px;
				z-index: -1;
				background: lighten($navigation-item-hover-bg, 5%);
				border-radius: 100%;
			}
			100% {
				background: $navigation-item-hover-bg;
				height: 5000%;
				width: 5000%;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				border-radius: 0;
			}
		}
	}
}
