@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 'topbar';

$topbar-height: 30px;
$topbar-bg: map-get($colors, blue-dark);

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	background: $topbar-bg;
	height: $topbar-height;
}
