@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 'content';

$content-max-width: 800px;

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	position: relative;
	max-width: $content-max-width;

	@media (min-width: breakpoint-min(md)) {
		padding-right: 15px;
	}

	@media (min-width: breakpoint-min(lg)) {
		padding-right: 30px;
	}

	:first-child {
		margin-top: 0;
	}

	h1 {
		margin-top: $margin-small !important;
	}
}
