@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 'content';

$content-max-width: 800px;

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	overflow: hidden;
	max-width: $content-max-width;
}
