<nav class="m-navigation">

	<div class="d-flex justify-content-between hidden-lg-up">
		<a class="o-logo o-logo--text" href="/">Stylesheet</a>

		<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle is--active" type="button" aria-label="Toggle main navigation"
		 aria-expanded="false">
			<span class="o-hamburger-box">
				<span class="o-hamburger-inner"></span>
			</span>
		</button>

	</div>

	<ul class="m-navigation__container">
		<li class="m-navigation__item">
			<a href="">Get started
				<i class="fas fa-caret-down"></i>
			</a>
			<ul class="m-navigation__submenu">
				<li class="m-navigation__item">
					<a href="">Download</a>
				</li>
				<li class="m-navigation__item">
					<a href="">Browsers and Devices</a>
				</li>
				<li class="m-navigation__item">
					<a href="">Frameworks</a>
				</li>
				<li class="m-navigation__item">
					<a href="">Build tools</a>
				</li>
			</ul>
		</li>
		<li class="m-navigation__item">
			<a href="">Layout</a>
		</li>
		<li class="m-navigation__item">
			<a href="">Content</a>
		</li>
		<li class="m-navigation__item">
			<a href="">Componentes</a>
		</li>
	</ul>
</nav>
